.demo {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 20rem;
  background: var(--background);
}

.demo-header {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: var(--accent);
  color: white;
  padding: 0.5rem;
  font-family: monospace;
  font-size: 16px;
  border-radius: 2px;
}

.result {
  height: 100vh;
}
.settings {
  position: absolute;
  width: 20rem;
  right: 1rem;
  top: 1rem;
  background: white;
  border-radius: 2px;
  overflow: hidden;
  border: 1px solid var(--accent);
  font-family: monospace;
  font-size: 16px;
}
.settings main {
  height: 90vh;
  overflow-y: scroll;
}

.panel-header {
  padding: 0.5rem;
  position: sticky;
  top: 0;
  background: var(--accent);
  color: white;
  border-bottom: 1px solid var(--accent);
}
