* {
  box-sizing: border-box;
  font-size: 100%;
  padding: 0;
  margin: 0;
  font-weight: inherit;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --accent: rgb(228, 27, 0);
  --background: rgb(248, 248, 248);
}

body {
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
}

button,
input {
  font-family: inherit;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}